<table class="slds-table">
	<tr class="tableHeader">
		<!--{{#each data.ContractHeader}}
			<th style="width:100px;"> {{this}} </th>
		{{/each}}-->
		<th class="billToCust primaryCol">Bill to Cust ID</th>
		<th class="accName primaryCol">Account Name</th>
		<th class="OppId primaryCol">Opportunity Id</th>
		<th class="QuoteId primaryCol">Quote Id</th>
		<th class="contractNo primaryCol">Contract Number</th>
		<th class="bundleProductName primaryCol">Bundle Product Name</th>
		<th class="componentProductName primaryCol">Component Product Name</th>
		<th class="segment secondWidth">Segment</th>
		<th class="businessUnit secondWidth">Business Unit</th>
		<th class="startDate dateWidth">Contract Start Date</th>
		<th class="endDate dateWidth">Contract End Date</th>
		<th class="accountManagerName textWidth">Account Manager Name</th>
		<th class="productFamily textWidth">Product Family</th>
		<th class="productModel textWidth">Product Model</th>
		<th class="description textArea">Product: Product Description</th>
		<th class="technicalStartDate dateWidth">Technical Start Date</th>
		<th class="technicalEndDate dateWidth">Technical End Date</th>
		<th class="billStartDate dateWidth">Bill Start Date</th>
		<th class="billEndDate dateWidth">Bill End Date</th>
		<th class="cancellationDate dateWidth">Cancellation Date</th>
		<th class="years minWidth">Years</th>
		<th class="months minWidth">Months</th>
		<th class="days minWidth">Days</th>
		<th class="contractCurrency textWidth">Contract Currency</th>
		<th class="billingCurrency textWidth">Billing Currency</th>
		<th class="billingCurrency textWidth">Billing Frequency</th>
		<th class="lineItemSr textWidth">Line Item Sr #</th>
		<th class="lineItemId textWidth">Line Item Id</th>
		<th class="serviceId textWidth">Service Id</th>
		<th class="status textWidth">Status</th>
		<th class="componentQuantity minWidth">Component Quantity</th>
		<th class="unitOTC valueWidth">Unit OTC</th>
		<th class="unitMRC valueWidth">Unit MRC</th>
		<th class="unitVRC valueWidth">Unit VRC</th>
		<th class="totalOTC valueWidth">Total OTC</th>
		<th class="totalMRC valueWidth">Total MRC</th>
		<th class="totalVRC valueWidth">Total VRC</th>
		<th class="totalACV valueWidth">Total ACV</th>
		<th class="totalTCV valueWidth">Total TCV</th>
		<th class="dcLocation textWidth">DC Location</th>
		<th class="supportToCustId textWidth">Support to Cust ID</th>
		<th class="supportToCustName textWidth">Support to Cust Name</th>
		<th class="hsnsaccode textWidth">HSN / SAC Code</th>
		<th class="omtApprovalStatus textWidth">OMT Approval Status</th>
		<th class="primarySource textWidth">Primary Source</th>
		<th class="secondarySource textWidth">Secondary Source</th>
		<th class="tertiarySource textWidth">Tertiary Source</th>
		<th class="vertical textWidth">Vertical</th>
		<th class="contractApprovalDate textWidth">Contract Approval Date</th>
	</tr>
	{{#each data.subscriptionData}}
		<tr data-requiredby="{{ idRequiredById }}">
			<td class="billToCust primaryCol">{{BillCustId }}</td>
			<td class="accName primaryCol">{{strAccountName }}</td>
			<td class="OppId primaryCol">{{ OpportunityId }}</td>
			<td class="QuoteId primaryCol">{{ QuoteNo }}</td>
			<td class="contractNo primaryCol">{{ContractNumber }}</td>
			<td class="bundleProductName primaryCol">{{BundleName }}</td>
			<td class="componentProductName primaryCol">{{ComponentName}}</td>
			<td class="segment secondWidth">{{SegmentYear}}</td>
			<td class="businessUnit secondWidth">{{businessUnit }}</td>
			<td class="startDate dateWidth">{{strStartDate }}</td>
			<td class="endDate dateWidth">{{strEndDate }}</td>
			<td class="accountManagerName textWidth">{{AccountManagerName }}</td>
			<td class="productFamily textWidth">{{ProductFamily }}</td>
			<td class="productModel textWidth">{{ProductModel }}</td>
			<td class="description textArea"><div class="descriptionTextArea">{{ProductDescription}}</div></td>
			<td class="technicalStartDate dateWidth">{{strTechStartDate }}</td>
			<td class="technicalEndDate dateWidth">{{strTechEndDate }}</td>
			<td class="billStartDate dateWidth">{{strBillStartDate }}</td>
			<td class="billEndDate dateWidth">{{strBillEndDate }}</td>
			<td class="cancellationDate dateWidth">{{strCancellationDate }}</td>
			<td class="years minWidth">{{years }}</td>
			<td class="months minWidth">{{months }}</td>
			<td class="days minWidth">{{days }}</td>
			<td class="contractCurrency textWidth">{{contractCurrency }}</td>
			<td class="billingCurrency textWidth">{{billingCurrency }}</td>
			<td class="billingCurrency textWidth">{{billingFrequency }}</td>
			<td class="lineItemSr textWidth">{{lineItemSrNo }}</td>
			<td class="lineItemId textWidth">{{lineItemId }}</td>
			<td class="serviceId textWidth">{{ServiceId }}</td>
			<td class="status textWidth">{{status }}</td>
			<td class="componentQuantity minWidth">{{componentQuantity }}</td>
			<td class="unitOTC valueWidth">{{unitOTC}}</td>
			<td class="unitMRC valueWidth">{{unitMRC}}</td>
			<td class="unitVRC valueWidth">{{unitVRC}}</td>
			<td class="totalOTC valueWidth">{{totalOTC}}</td>
			<td class="totalMRC valueWidth">{{totalMRC}}</td>
			<td class="totalVRC valueWidth">{{totalVRC}}</td>
			<td class="totalACV valueWidth">{{totalACV}}</td>
			<td class="totalTCV valueWidth">{{totalTCV}}</td>
			<td class="dcLocation textWidth">{{DCLocation}}</td>
			<td class="supportToCustId textWidth">{{SupportCustId}}</td>
			<td class="supportToCustName textWidth">{{SupportCustName}}</td>
			<td class="hsnsaccode textWidth">{{HSNSACCode}}</td>
			<td class="omtApprovalStatus textWidth">{{OMTApprovalStatus}}</td>
			<td class="primarySource textWidth">{{PrimarySource}}</td>
			<td class="secondarySource textWidth">{{SecondarySource}}</td>
			<td class="tertiarySource textWidth">{{TertiarySource}}</td>
			<td class="vertical textWidth">{{vertical}}</td>
			<td class="contractApprovalDate textWidth">{{ApprovalDate}}</td>
		</tr>
	{{/each}}
</table>